@font-face {
    font-family: 'great_vibesregular';
    src: url('../font/greatvibes-regular-webfont.woff2') format('woff2'),
         url('..font/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hidden{
	display: none;
}

html, body{ 
	height: 100%;
	
}

h1, h2, h3 {
	color: white;
}

img{
	max-height: 800px;
	max-width: 1100px;
}

h1{
	font-family: 'Noto Serif', Arial ,sans-serif;
	font-size: 9rem;
	font-weight: 700;
}

.content_1{
	background-image: url(../images/beer_dispenser.jpg);
	height: 100%;
	position: relative;
	opacity: .8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.heading{
	position: absolute;
	top: 50%;
	width:100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;

}

.welcome{
	text-align: center;
	padding: 50px 100px;
    background: linear-gradient(to right, rgba(82,83,83,0), rgba(137,138,138,.5), rgba(253,238,10, .8));
    background-size: 200%;
    transition: background-position .5s;  
    background-color: transparent; 

}
.welcome:hover {
    background-position: 100% 0;    
}


.welcome p{
	font-size: 5rem;
	font-family: 'great_vibesregular', Arial ,sans-serif;
	letter-spacing: 1rem;
	text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
}




.content_2{
	background-image: url(../images/drinking_glass.jpg);
	height: 100%;
	position: relative;
	opacity: .8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.heading_2{
	position: absolute;
	top: 50%;
	width:90%;
	text-align: center;
	color: #000;
	padding: 50px 80px;
	overflow: hidden;
	font-family: 'Noto Serif', Arial ,sans-serif;

}

.heading_2 h2{
	color: #525353;
	font-size: 5rem;
	font-family: 'great_vibesregular', Arial ,sans-serif;
	letter-spacing: .8rem;
	text-shadow: 2px 2px black;
}
.heading_2 p{
	padding-top: 50px;
	line-height: 2rem;
}
.heading_2 p::first-letter {
  font-size: 300%;
  color: #525353;
}


.content_2,.content_3,.content_4,.content_5,.content_6{
	color: white;
}

.text{
	width: 100%;
	margin: auto;
	background-color: #000;

}


/*content 3*/
.content_3,.content_4,.content_5{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.content_3, .content_5{
	background-color: #525353;
}

.text3,.text5{
	margin-right: 50px;
	justify-content: center;

}
.text3 h2,.text4 h2{
	margin-top: 50px;
	font-family: 'great_vibesregular', Arial ,sans-serif;
	font-size: 3rem;
	letter-spacing: 0.7rem;
	font-weight: 900;

}
.text3 p{
	margin:40px 40px;
	line-height: 2rem;
	font-family: 'Noto Serif', Arial ,sans-serif;
}
.text3 p::first-letter {
  font-size: 300%;
  color: #000;
}




/*centent 4*/

.text4 {
	margin-left: 20px;
	justify-content: center;
}

.text4 p{
	margin:10px 30px;
	line-height: 1.8rem;
	font-family: 'Noto Serif', Arial ,sans-serif;
}

.text4 p::first-letter {
  font-size: 300%;
  color: #525353;
}
/*content5*/
.text5 h2{
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: 40px;
	font-family: 'great_vibesregular', Arial ,sans-serif;
	font-size: 3rem;
	letter-spacing: 0.7rem;
	font-weight: 900;
}
.text5 p{
	margin:40px 40px;
	line-height: 2.5rem;
	font-family: 'Noto Serif', Arial ,sans-serif;
}
.text5 p::first-letter {
  font-size: 300%;
  color: #000;
}
/*content6*/


.content_6{
	text-align: center;
	margin: 40px 40px;
}
.content_6 h2{
	margin-top: 50px;
	font-family: 'great_vibesregular', Arial ,sans-serif;
	font-size: 3rem;
	letter-spacing: 0.7rem;
	font-weight: 900;
}

.content_6 p{
	margin:40px 40px;
	line-height: 2.5rem;
	font-family: 'Noto Serif', Arial ,sans-serif;
}

.content_6 p::first-letter {
  font-size: 300%;
  color: #525353;
}

